// 顶部搜索导航栏的样式
.root {
  height: 100%;
  :global {
    .ReactVirtualized__Grid {
     padding: 0 10px;
    }
  }
}
.headerWrap {
  padding: 0 10px;
  background-color: #f6f5f6;
}

.header {
  position: relative;
  top: 0;
  height: 45px;
  padding: 0;

  :global {
    .am-flexbox {
      height: 30px;
    }

    .icon-map {
      color: skyblue;
    }
  }
}
.loding {
  height: 100px;
  background-color: pink;
}
